<center><img src="redpopcorn.jpg"></center>

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

In [53]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

In [59]:
# Display the first 20 rows of the DataFrame
netflix_df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action

# What was the most frequent movie duration in the 1990s?

In [66]:
# Filter the data for movies released in the 1990s
# I filtered the DataFrame to include only movies from the 1990s. 
# The reason for this is that I want to focus on analyzing trends and characteristics specific to that decade. 
# By selecting movies released between 1990 and 1999, I ensure the data only includes relevant information for my analysis. 
# I also specified 'type' == 'Movie' to ensure that the dataset only contains movies, not other content types like TV shows.
movies_released_1990s = netflix_df[(netflix_df['type'] == 'Movie') & (netflix_df['release_year'] >= 1990) & (netflix_df['release_year'] < 2000)]

# Find the most frequent movie duration in the 1990s and save it as an integer
# I used the 'mode()' function to identify the most common movie duration from the filtered 1990s data. 
# The result is the most frequent duration, which I converted to an integer to ensure it's clean and easy to use. 
# This value is saved in a variable called 'duration' for later use in the project.
duration = int(movies_released_1990s['duration'].mode()[0])

# Display the result for the most frequent movie duration in the 1990s
# Here, I use a print statement to display the most frequent movie duration found from the 1990s movies dataset.
# This output will help me understand the common movie lengths in the 1990s, which could be useful for identifying industry patterns.
print(f"The most frequent movie duration in the 1990s is: {duration} minutes")

The most frequent movie duration in the 1990s is: 94 minutes

# A movie is considered short if it is less than 90 minutes. Count the number of short action movies released in the 1990s

In [67]:
# Filter for short action movies in the 1990s
# I define a short movie as one that has a duration of less than 90 minutes. 
# Since I am specifically interested in action movies, I filter the data to include only 'Action' genre movies 
# that also meet the duration criterion of being under 90 minutes.
short_action_movies_1990s = movies_released_1990s[(movies_released_1990s['duration'] < 90) & (movies_released_1990s['genre'] == 'Action')]

# Count the number of short action movies
# I use the 'len()' function to count the number of rows in the filtered DataFrame, which represents the number of 
# short action movies released in the 1990s. 
short_movie_count = len(short_action_movies_1990s)

# Display the result for the count of short action movies
# The print statement will show the total count of short action movies in the 1990s.
print(f"The number of short action movies released in the 1990s is: {short_movie_count}")

The number of short action movies released in the 1990s is: 7